{{ define "main" }}

<header class="breadCrumb">
	<div class="breadCrumb__blob blob-wrap">
		{{ partial "blob.html" (dict "id" "blog-list-blob-gradient") }}
	</div>
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<h1 class="breadCrumb__title">{{ .Title }}</h1>
				<nav aria-label="breadcrumb" class="d-flex justify-content-center">
					<ol class="breadcrumb align-items-center">
						<li class="breadcrumb-item"><a href="{{ "" | absURL }}">Home</a></li>
						<li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
</header>

<section class="section blog-preview">
	<div class="container">
		<div class="row blog-preview__grid">
			{{ range .Paginator.Pages }}
			<div class="col-md-4">
				{{ partial "blogCard.html" . }}
			</div>
			{{ end }}
		</div>
		<div class="row">
			<div class="col-lg-12">
				{{ partial "pagination" . }}
			</div>
		</div>
	</div>
</section>

{{ end }}
