{{- $id := .id -}}
{{- $color := .color | default "var(--accent)" -}}
{{- $stopOpacity := .stopOpacity | default ".08" -}}
<svg viewBox="0 0 550 550" aria-hidden="true" focusable="false">
  <defs>
    <linearGradient id="{{ $id }}" x1=".069" x2=".753" y1=".116" y2=".858" gradientUnits="objectBoundingBox">
      <stop offset="0" style="{{ printf "stop-color: %s;" $color | safeCSS }}" />
      <stop offset="1" style="{{ printf "stop-color: %s; stop-opacity: %s;" $color $stopOpacity | safeCSS }}" />
    </linearGradient>
  </defs>
  <g data-name="blob-shape (3)">
    <path class="blob" fill="url(#{{ $id }})"
      d="M455.4 151.1c43.1 36.7 73.4 92.8 60.8 136.3-12.7 43.5-68.1 74.4-111.3 119.4-43.1 45-74 104.1-109.8 109-35.9 5-76.7-44.2-111.8-89.2-35.2-45-64.7-85.8-70.8-132.6-6-46.8 11.6-99.6 46.7-136.3 35.2-36.6 88-57.2 142.4-58.8 54.5-1.7 110.6 15.6 153.8 52.2z" />
  </g>
</svg>
