<section class="footer" id="contact">
	<div class="footer__blob blob-wrap">
		{{ partial "blob.html" (dict "id" "footer-blob-gradient" "color" "var(--bg)" "stopOpacity" "0") }}
	</div>
	<div class="container">
		<div class="row footer__cta">
			<div class="col-lg-6">
				<div class="footer__cta_col">
					<h3 class="footer__cta_heading">Coaching</h3>
					<p class="footer__cta_body">I combine my experience as an engineer, manager and startup co-founder with co-active life coaching techniques to guide my clients through the challenges and choices faced in the tech industry today. If you'd like to find out more about booking me for a coaching engagement, drop me a line.</p>
					<a class="btn footer__cta_action footer__cta_action--filled btn-zoom"
						href="{{ site.Params.contactLink | absURL }}">Get in touch</a>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="footer__cta_col">
					<h3 class="footer__cta_heading">Email</h3>
					<p class="footer__cta_body">For any other matters (consulting, writing, comparing Marvel Snap strategies), you can drop me an email at rod@begbie.com.</p>
					<a class="btn footer__cta_action footer__cta_action--outline btn-zoom"
						href="{{ site.Params.contactLink | absURL }}">Email me</a>
				</div>
			</div>
		</div>
		<div class="row footer__footer">
			<div class="col-lg-6">
				<div class="footer__footer_copy">
					<p>{{ site.Params.copyright }}</p>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="footer__footer_social">
					<ul class="unstyle-list">
						{{ $social := site.Params.social }}
						{{ range $social }}
						<li class="d-inline-block mx-2"><a target="_blank" rel="noopener noreferrer"
								href="{{ .url }}" aria-label="{{ .name }}">{{ partial "icon.html" (dict "name" .icon) }}</a>
						</li>
						{{ end }}
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
{{ $navbarjs := resources.Get "js/navbar.js" }}
{{ $videopopupjs := resources.Get "js/video-popup.js" }}
{{ $bundle := slice $navbarjs $videopopupjs
  | resources.Concat "js/bundle.js" | minify | fingerprint }}
<script defer data-cfasync="false" src="{{ $bundle.RelPermalink }}"
  integrity="{{ $bundle.Data.Integrity }}" crossorigin="anonymous"></script>
