<section class="footer" id="contact">
	<div class="footer__blob blob-wrap">
		<svg viewBox="0 0 550 550">
			<defs>
				<linearGradient id="footer-blob-gradient" x1=".069" x2=".753" y1=".116" y2=".858"
					gradientUnits="objectBoundingBox">
					<stop offset="0" style="stop-color: var(--bg);" />
					<stop offset="1" style="stop-color: var(--bg); stop-opacity: 0;" />
				</linearGradient>
			</defs>
			<g data-name="blob-shape (3)">
				<path class="blob" fill="url(#footer-blob-gradient)"
					d="M455.4 151.1c43.1 36.7 73.4 92.8 60.8 136.3-12.7 43.5-68.1 74.4-111.3 119.4-43.1 45-74 104.1-109.8 109-35.9 5-76.7-44.2-111.8-89.2-35.2-45-64.7-85.8-70.8-132.6-6-46.8 11.6-99.6 46.7-136.3 35.2-36.6 88-57.2 142.4-58.8 54.5-1.7 110.6 15.6 153.8 52.2z" />
			</g>
		</svg>
	</div>
	<div class="container">
		<div class="row footer__cta">
			<div class="col-lg-6">
				<div class="footer__cta_col">
					<h3 class="footer__cta_heading">Coaching</h3>
					<p class="footer__cta_body">I combine my experience as an engineer, manager and startup co-founder with co-active life coaching techniques to guide my clients through the challenges and choices faced in the tech industry today. If you'd like to find out more about booking me for a coaching engagement, drop me a line.</p>
					<a class="btn footer__cta_action footer__cta_action--filled btn-zoom"
						href="{{ site.Params.contactLink | absURL }}">Get in touch</a>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="footer__cta_col">
					<h3 class="footer__cta_heading">Email</h3>
					<p class="footer__cta_body">For any other matters (consulting, writing, comparing Marvel Snap strategies), you can drop me an email at rod@begbie.com.</p>
					<a class="btn footer__cta_action footer__cta_action--outline btn-zoom"
						href="{{ site.Params.contactLink | absURL }}">Email me</a>
				</div>
			</div>
		</div>
		<div class="row footer__footer">
			<div class="col-lg-6">
				<div class="footer__footer_copy">
					<p>{{ site.Params.copyright }}</p>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="footer__footer_social">
					<ul class="unstyle-list">
						{{ $social := site.Params.social }}
						{{ range $social }}
						<li class="d-inline-block mx-2"><a target="_blank"
								href="{{ .url }}">{{ partial "icon.html" (dict "name" .icon) }}</a>
						</li>
						{{ end }}
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
{{ $navbarjs := resources.Get "js/navbar.js" }}
{{ $videopopupjs := resources.Get "js/video-popup.js" }}
{{ $bundle := slice $navbarjs $videopopupjs
  | resources.Concat "js/bundle.js" | minify | fingerprint }}
<script defer data-cfasync="false" src="{{ $bundle.RelPermalink }}"
  integrity="{{ $bundle.Data.Integrity }}" crossorigin="anonymous"></script>
